{% extends 'base.html' %}
{% block title %} URL List {% endblock title %}


{% block content %}
    <a href="{% url 'url-shortner-view' %}" class="btn btn-primary">Short Your Link</a>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th scope="col">Sr</th>
              <th scope="col">Long URL</th>
              <th scope="col">Short URL</th>
              <th scope="col">QR Code</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
                <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{{object.full_url}}">{{object.full_url}}</a></td>
                <td><a href="{{object.short_url}}">{{object.short_url}}</a></td>
                <td><img src="{{object.qu_code.url}}" border=3 height=300 width=300></img></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}